/* - - - - - - - Icones  - - - - - - - */
i{
    font-size: 2rem;
}

i.fa-star{
    color: var(--texBlue2);
    transition: cor 1s, transform 0.5s;
    transform: scale(1);
}
i.fa-star:hover{
    color: white;
    transform: scale(1.5);
}
.mensagemAvisoCoracao{
    display: none;
}



/* Icones do menu principal */
#navegacaoPrincipal i{
    color: white;
}
#navegacaoPrincipal i.icon-ativo{
    color: var(--textYellow);
}
#navegacaoPrincipal i.fa-heart:hover{
    color: red;
}

/*Margin nos icones de habilidades*/
.mb-i{
    margin-bottom: 6rem;
}
.mt-i{
    margin-top: 6rem;
}

ul{
    display: flex;
    gap: 40px;
    justify-content: center
}
ul li{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

ul li .fa-brands{
    font-size: 4rem;
    color: transparent;
}

ul li::before{
    content: "\f13b";
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    text-align: center;
    line-height: 80px;
    font-size: 4rem;
    border-bottom: 3px solid var(--color);
    color: var(--color);
    transition: .5s all;
}
ul li:hover::before{
    height: 100%;
    
}

ul li:nth-of-type(2)::before{
    content: "\f836";
}
ul li:nth-of-type(3)::before{
    content: "\f38b";
}
ul li:nth-of-type(4)::before{
    content: "\f3b9";
}



/*
#barraHorizontalMobile i{
    font-size: 4rem;
}
#iconesHabilidades{
    position: relative;
}

i.fa-html5{
    color: #FF0000;
    color: transparent;
    -webkit-text-stroke: 2px #FF0000;
}
i.fa-html5::before{
    content: "\f13b";
    font-family: fontAwesome;
    border-bottom: 4px solid black;
    position: absolute;
    top: 0;
    left: 0;
}

i.fa-bootstrap{
    color: #AB07E4;
    color: transparent;
    -webkit-text-stroke: 2px #AB07E4;
}
i.fa-bootstrap:before{
    content: "\f13b";
    font-family: fontAwesome;
    border-bottom: 4px solid black;
    position: absolute;
    top: 0;
    left: 4rem;
}

i.fa-css3{
    color: #0558FA;
    color: transparent;
    -webkit-text-stroke: 2px #0558FA;
}
i.fa-css3:before{
    content: "\f13b";
    font-family: fontAwesome;
    border-bottom: 4px solid black;
    position: absolute;
    top: 0;
    left: 8rem;
}

i.fa-js{
    content: "\f13b";
    font-family: fontAwesome;
    border-bottom: 4px solid black;
    position: absolute;
    top: 0;
}
i.fa-js::before{
    content: "\f13b";
    font-family: fontAwesome;
    border-bottom: 4px solid black;
    position: absolute;
    top: 0;
    left: 12rem;
}
*/
.icones-topo i{
    color: var(--bgGray);
    margin-left: 1rem;
    transition: color 1s, transform 0.5s;
    transform:  translateY(0) scale(1); 
}
.icones-topo i:hover{
    color: var(--texBlue2);
    transform: translateY(-5px) scale(1.5);
}
.icones-topo i.icon-ativo{
    color: var(--textYellow);
}
.icones-topo i.fa-heart:hover{
    color: red;
}

.icon-link-projeto  i{ /*São os icones que levam ao projeto online*/
    color: var(--textPink);
}


/* - - - - - - - Links  - - - - - - - */
a{
    font-weight: bold;

    text-decoration: none;
}

.link-sobre, .link-projetos{
    color: white;
    width: 6rem;
    border-radius: 4px;
    transform: scale(1);
    transition: border 0.5s;
   
}
.link-sobre:hover, .link-projetos:hover{
    color: var(--textPink);
    transform: scale(1.2);
    border: 1px solid transparent;
}
.link-sobre{
    border: 1px solid var(--textYellow);   
    
}
.link-projetos{
    border: 1px solid var(--texBlue2);
}