:root{
    --colorYellow: #ffd489; /* Alterar nome */
    --colorPink: #ff72f7;
    --colorBlue: #c2ffe6;
    --colorBlue2: #68F3FC;
    --colorGray: #e7e5e5;
    --colorGray2: #554f6e;
    --bgColor2: #42033E;
}

/* - - - - - - - Formatação gerais - - - - - - - */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.borda{
    border: 2px solid red;
}
.pointer{
    cursor: pointer;
}
html, body, header, .expande-100{
    height: 100%;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

/* - - - - - - - Tipografia - - - - - - - */
h1{
    font-family: 'Kanit', sans-serif;
    font-size: 4rem;
    color: var(--colorPink);
    letter-spacing: 0.25rem;
}
h2, h3, h4{
    font-weight: bold;
}
h2{
    font-size: 2rem;
    letter-spacing: 0.25rem;  
}
h3{
    color: var(--colorYellow);
}
h4{
    font-size: 3rem;
}
#textoAnimado{
    display: inline;
    flex-wrap: nowrap;
    position: relative;
    color: rgba(255, 255, 255,0.1);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
#textoAnimado::before{
    display: inline;
    content:attr(data-text);
    position: absolute;
    font-weight: bold;
    width: 0;
    height: 100%;
    color: var(--colorYellow);
    border-right: 2px solid white;
    overflow: hidden;
    animation: animacaoTextoHabilidade 5s linear infinite;
}
@keyframes animacaoTextoHabilidade {
    0%,10%,100%{
        width: 0;
    } 70%,90%{
        width: 100%;
    }
}
p{
    font-size: 1.15rem;
}
.palavras-chaves span{
    color: #828285;
    font-weight: bold;
}
.titulo-secao{
    margin-top: 10rem;
}
/* - - - - - - - Header  - - - - - - - */
header{
    background: rgb(39,2,45);
    background: linear-gradient(90deg, rgba(39,2,45,1) 8%, rgba(0,0,0,1) 93%);
}
#avatar{
    width: 60%;
}

/*Menu suspenso no topo*/
#navegacaoPrincipal{
    background-color: rgba(66,3,62,0.7);
    display: none;
}

/* - - - - - - - Seção de projetos  - - - - - - - */
#secaoProjetos{
    background-color: var(--bgColor2);
}
aside{
    padding: 6rem 0 6rem 0;
    margin: 4rem 0 4rem  0;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-image: linear-gradient(84deg, rgba(255,0,0,1) 0%, rgba(228,7,186,1) 22%, rgba(171,7,228,1) 42%, rgba(11,85,249,1) 62%, rgba(255,236,62,1) 96%) 1;
}
.espacamento-projetos{
    margin-top: 10rem;
}
/* - - - - - - - Seção sobre mim  - - - - - - - */
#secaoSobreMim{
    background-color: #9E033B;
}
#textoSobreMim{
    border-left: 2px solid var(--colorPink);
}
#fotoDePerfil{
    border-radius: 100px;
    border: 2px solid var(--colorPink);
}
#curiosidades i{
    font-size: 8rem;
    color: rgba(255, 255, 255,0.2)
}
#curiosidades div{
    position: relative;
}
#curiosidade1{
    background-color:  var(--colorBlue2);
}
#curiosidade2{
    background-color: var(--colorPink);
}
#curiosidade3{
    background-color: var(--colorYellow);
}


/* - - - - - - - Scroll  - - - - - - - */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #FF72F7 #FFFFFF;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 6px;
    width: 6px;
}
*::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
    background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:active {
    background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FF72F7;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #FF72F7;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #FF72F7;
}

  
  