:root{ 
    --bgColorGreen1: rgb(11,212,123);
    --bgColorGreen2: rgb(11,222,189);
    --bgColorBlue1: rgb(0,176,200);
    --bgColorBlue2: rgb(11,142,222);
    --bgColorBlue3: rgb(11,82,212);
}
/* - - - - - - - Formatação geral de tags - - - - - - - */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{
    font-family: 'Raleway', sans-serif;
    color: white;
}
.borda{
    border: 1px solid red;
}
/* - - - - - - - Tipografia - - - - - - - */
h1{
    font-family: 'Quicksand', sans-serif;
    color: var(--bgColorGreen1);
    font-size: 4rem;
}
p{
    font-size: 1.15rem;
}
/* - - - - - - - Inicio topo do site  - - - - - - - */
header{
    background: rgb(19,1,24);
    background: linear-gradient(137deg, rgba(19,1,24,1) 19%, rgba(10,36,1,1) 100%);
}
#conteudoDestaque{
    padding-left: 4rem;
}
#paragrafoRick{
    margin-bottom: -4rem;
    font-style: italic;
}
        /* icones */
i{
    font-size: 2rem;
    color: white;
}
i:hover{
    color: var(--bgColorGreen1);
}
i.fa-github{
    margin-right: 1rem;
}
        /* link */
#navegacaoPrincipal a{
    color: white;
    font-weight: bold;
}
#navegacaoPrincipal  a:hover{
    color: var(--bgColorGreen1);
}
a.ativo{
    background-color: var(--bgColorBlue2) ;
    border-radius: 6px;
}
#linkSobre{
    padding-left: 5rem;
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
    @-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
    @keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
    @-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
    @keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 

@media (max-width: 415px){
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 0.5rem;
    }
    #areaRickAndMorty{
        display: none;
    }
}
@media (min-width: 416px) and (max-width: 575.98px) { 
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 1rem;
    }

    #areaRickAndMorty{
        display: none;
    }
 }

@media (min-width: 576px) and (max-width: 767.98px) {
    h1{
        font-size: 2.5rem;
    }
    p{
        font-size: 0.75rem;
    }
    #linkSobre{
        padding-left: 3rem;
    }
    #paragrafoRick{
        margin-bottom: -1rem;
    }
  }

@media (min-width: 768px) and (max-width: 991.98px) { 
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 1rem;
    }
    #paragrafoRick{
        margin-bottom: -2rem;
    }
 }

@media (min-width: 992px) and (max-width: 1199.98px) {  
    #paragrafoRick{
        margin-bottom: -3rem;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) { 

 }